<h1>Books in the Library</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <a href="/books/<%= book.id %>"><%= book.author %> - <%= book.title %></a>
    </li>
  <% end %>
</ul>

<h2>Add a new Book</h2>

<form method="POST" action="/books">
  <input type="text" name="author" placeholder="Author" />
  <input type="text" name="title" placeholder="Title" />
  <input type="submit" />
</form>

<a href="/">Homepage</a>