<h1>Welcome to the Library</h1>
<img src="https://raw.githubusercontent.com/tiy-atl-js-jan-2017/slides/master/images/magic.gif" />
<br />
<a href="/authors">List of Authors</a> <br />
<a href="/books">List of Books by Title</a>
