<h1><%= @cohort.name %></h1>

<%= form_tag(cohort_path(@cohort), method: :patch) do %>
  <%= text_field_tag("cohort[name]", @cohort.name, placeholder: "Cohort Name") %>
  <%= submit_tag("Save") %>
<% end %>
